## Import Packages

In [13]:
import pandas as pd
import numpy as np

## Import data

In [14]:
train_df = pd.read_csv('./train/train.csv', sep=';')
train_df

,WELL,DEPTH_MD,X_LOC,Y_LOC,Z_LOC,GROUP,FORMATION,CALI,RSHA,RMED,...,ROP,DTS,DCAL,DRHO,MUDWEIGHT,RMIC,ROPA,RXO,FORCE_2020_LITHOFACIES_LITHOLOGY,FORCE_2020_LITHOFACIES_CONFIDENCE
0,15/9-13,494.5280,437641.96875,6470972.5,-469.501831,NORDLAND GP.,NaN,19.480835,NaN,1.611410,...,34.636410,NaN,NaN,-0.574928,NaN,NaN,NaN,NaN,65000,1.0
1,15/9-13,494.6800,437641.96875,6470972.5,-469.653809,NORDLAND GP.,NaN,19.468800,NaN,1.618070,...,34.636410,NaN,NaN,-0.570188,NaN,NaN,NaN,NaN,65000,1.0
2,15/9-13,494.8320,437641.96875,6470972.5,-469.805786,NORDLAND GP.,NaN,19.468800,NaN,1.626459,...,34.779556,NaN,NaN,-0.574245,NaN,NaN,NaN,NaN,65000,1.0
3,15/9-13,494.9840,437641.96875,6470972.5,-469.957794,NORDLAND GP.,NaN,19.459282,NaN,1.621594,...,39.965164,NaN,NaN,-0.586315,NaN,NaN,NaN,NaN,65000,1.0
4,15/9-13,495.1360,437641.96875,6470972.5,-470.109772,NORDLAND GP.,NaN,19.453100,NaN,1.602679,...,57.483765,NaN,NaN,-0.597914,NaN,NaN,NaN,NaN,65000,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1170506,7/1-2 S,3169.3124,NaN,NaN,NaN,VESTLAND GP.,Bryne Fm.,8.423170,NaN,NaN,...,27.674368,NaN,NaN,-0.001763,NaN,NaN,26.673708,NaN,30000,2.0
1170507,7/1-2 S,3169.4644,NaN,NaN,NaN,VESTLAND GP.,Bryne Fm.,8.379244,NaN,NaN,...,28.024338,NaN,NaN,-0.007600,NaN,NaN,26.840818,NaN,65030,2.0
1170508,7/1-2 S,3169.6164,NaN,NaN,NaN,VESTLAND GP.,Bryne Fm.,8.350248,NaN,NaN,...,28.091282,NaN,NaN,-0.018297,NaN,NaN,27.007942,NaN,65030,2.0
1170509,7/1-2 S,3169.7684,NaN,NaN,NaN,VESTLAND GP.,Bryne Fm.,8.313779,NaN,NaN,...,28.019775,NaN,NaN,-0.011438,NaN,NaN,27.175179,NaN,65030,2.0
1170510,7/1-2 S,3169.9204,NaN,NaN,NaN,VESTLAND GP.,Bryne Fm.,8.294910,NaN,NaN,...,25.985943,NaN,NaN,-0.011398,NaN,NaN,27.342442,NaN,65030,2.0

In [15]:
#drop uneeded attributes for lithology classification
train_df.pop('GROUP')

0          NORDLAND GP.
1          NORDLAND GP.
2          NORDLAND GP.
3          NORDLAND GP.
4          NORDLAND GP.
               ...
1170506    VESTLAND GP.
1170507    VESTLAND GP.
1170508    VESTLAND GP.
1170509    VESTLAND GP.
1170510    VESTLAND GP.
Name: GROUP, Length: 1170511, dtype: object

## Handling missing values

In [14]:
train_df.isna().sum()

WELL                                       0
DEPTH_MD                                   0
X_LOC                                  10775
Y_LOC                                  10775
Z_LOC                                  10775
GROUP                                   1278
FORMATION                             136994
CALI                                   87877
RSHA                                  539861
RMED                                   38993
RDEP                                   11015
RHOB                                  161269
GR                                         0
SGR                                  1101158
NPHI                                  405102
PEF                                   498819
DTC                                    80863
SP                                    306264
BS                                    487854
ROP                                   635440
DTS                                   995898
DCAL                                  871678
DRHO                                  182654
MUDWEIGHT                             854360
RMIC                                  994351
ROPA                                  978186
RXO                                   843084
FORCE_2020_LITHOFACIES_LITHOLOGY           0
FORCE_2020_LITHOFACIES_CONFIDENCE        179
dtype: int64

In [ ]:
from sklearn.neighbors import KNeighborsRegressor
import pandas as pd


missing_columns = ['column1', 'column2']

# Split the data into two parts: one with missing values and one without
data_missing = data[data[missing_columns].isnull().any(axis=1)]
data_not_missing = data.dropna(subset=missing_columns)

# Train a KNN model on the data without missing values
k = 5
knn = KNeighborsRegressor(n_neighbors=k)
knn.fit(data_not_missing.drop(missing_columns, axis=1), data_not_missing[missing_columns])

# Predict the missing values using the KNN model
imputed_values = knn.predict(data_missing.drop(missing_columns, axis=1))

# Replace the missing values with the imputed values
data_missing[missing_columns] = imputed_values

# Merge the two parts of the dataset back together
data_imputed = pd.concat([data_missing, data_not_missing])